/* Default style for the page */
body {
  background-color: #ffffff;
  color: #000000;
  font-family: Arial, sans-serif;
  font-size: 1.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center; /* center content vertically */
  align-items: center;
  height: 100%;
  transition: background-color 0.5s ease, color 0.5s ease;
}

/* Dark theme style */
body.dark {
  background-color: #36393f;
  color: #ffffff;
}

/* Discord logo */
.discord-logo {

  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

/* Adjust font size and center text/button */
@media screen and (max-width: 768px) {
  body {
    font-size: 1.2rem;
  }
  .container {
    text-align: center;
  }
  .theme-switch {
    margin-top: 20px;
  }
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Theme switch button */
.theme-switch {
  background-color: #5865F2;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
}
